<!-- The orignal Django Admin base.html needs to be copy/refered into this directory, too. 
     Because two files with the same name can't exist I suggest to rename it into base_django.html
     and to avoid this way the change of all other admin templates (via rpl or similar). -->

{% extends "base_django.html" %}

{% block extrahead %}
<!-- extrahead -->
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea"
 });
</script>
{% endblock %}
